
body {
    background-color: #4e3942;
    margin: 0em;
    background-image: url(../img/);
    background-attachment: fixed;
}

#pag {
    width: 842px;
    margin: auto;
    color: #eb5e28;
    background-color: #ffd819;

}
#principal {
    margin-left: 100px;
}

header {
    background-color: rgb(52, 24, 153);
    background-image: url(../img/giyuu-tomioka-kimetsu-no-yaiba-4K-61.jpg);
    background-size: 100% 100%;
    color: bisque;
    height: 20em;
    max-width: 100%;
    padding: 2em;
    text-align: right;
}

#batman {
    height: 20%;
    width: 100%;
    position: relative;
    margin-top: -50px;
}

#centro {
    color: #1982c4;
    
}

header h3 {
    font-family: 'Oswald', sans-serif;
    color: rgb(126, 46, 46);
    font-size: 3.9em;
}

header p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3.5em;
    color: rgb(30, 71, 26);
}

nav {
    background-color: #a34723;
    color: #f72585;
    padding: 1em;
    max-width: 100%;
    margin-left: 179px;
    margin-right: 179px;
    height: 5em;
}

section {
    background-color: #240046;
    color: #1982c4;
    padding: 1em;
    max-width: 100%;
    min-height: 30em;
    margin-left: 179px;
    margin-right: 179px;
    clear: both;
}

footer {
    background-color: #a6c48a;
    color: bisque;
    min-height: 3em;
    max-height: 100%;
    margin-left: 175px;
    margin-right: 175px;
}

#popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.7);
}
#fechar{
    position: absolute;
    right: 80px;
    top: 5px;
    width: 30px;
    height: 30px;
    color: azure;
    font-size: 3em;
    font-family: 'tahoma';
    cursor: pointer;

}

#quadro {
    width: 30%;
    margin: 15% auto;
    text-align: center;
    background-color: beige;
    padding: 5%;
    border-radius: 10px;


}

#popup input{
    width: 100%;
    padding: 2%;
    margin-bottom: 3%;
}

#quadro a{
        text-decoration: none;

}
#quadro a:hover {
    text-decoration: underline;
}

#msg{
    color: #7c2e41;
    display: none;
}
ul li{
    float: left;
    text-decoration: #1982c4;
    width: 18%;
background-color: #eee2df;
margin-left: 1em;
     text-align: center;
     list-style: none;    
}
ul li:hover{
    background-color: #c32530;
}
ul li a{
    text-decoration: wavy;
    color: #c32530 ;
    display: block;
    padding: 1em;
    text-transform: unset;
    font-weight: bold;
    font-family: Ralewayital,wght1,1"
}
ul li:hover a{
    color: #ffd819;

}
  .itens{
      float: right;
      width: 35%;
      margin-left: 0.34%;
  }
 img{
     width: 100%;
 }
 
h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color:#eb5e28;
    background-color: rgb(66, 145, 165);
    border-radius: 5px;
    padding: 4px;
    }
        img{
            width: 40%;
            margin-left: 29%;
        }

    

    



